header {
    background-color: aquamarine;
    color: orange;
    padding-left: 10px;
}

h2 {
    font-weight: bold;
    padding-left: 15px;
    color: blue;
    text-align: center;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ADABAB;
}

.container {
  text-align: center;
    
}

h2 {
    text-align: center;
    color: #017572;
}

.button {
    text-decoration: none;
    background-color: grey;
    color: black;
    border: 2px solid black;
}